.tree-node {
  &__title-row__without-children,
  &__title-row {
    padding: 2px 0;
  }

  &__children {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;

    &_disabled {
      color: grey;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid black;
    position: relative;

    &_checked::before {
      content: '✓';
      display: block;
      position: absolute;
      top: 0;
      left: 2px;
    }

    &_indeterminate:not(.tree-node__icon_checked)::before {
      content: '-';
      display: block;
      position: absolute;
      bottom: 0;
      left: 3px;
    }

    &_disabled {
      border-color: grey !important;
    }
  }

  &__title-row {
    display: flex;
    align-items: center;
    gap: 5px;

    &__without-children {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-left: 10px;
    }
  }

  &__opener {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid grey;
    cursor: pointer;

    &_open {
      transform: rotate(45deg);
      border-left-color: black;
    }
  }
}