.tree-node {
  &__children {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  &__title-row {
    display: flex;
    align-items: center;
    gap: 5px;

    &__without-children {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-left: 10px;
    }
  }

  &__opener {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid grey;
    cursor: pointer;

    &_open {
      transform: rotate(45deg);
      border-left-color: black;
    }
  }
}